@page "/"
@inject HttpClient Http

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<div>@status</div>
<p>@requestSuccess</p>

@code {
    private string status = "";
    bool requestSuccess = true;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            string url = "https://8394-d2876538-b2d9-4e56-89df-0c2e11f8ee62.ws-eu01.gitpod.io/ApiRunningController";
            HttpResponseMessage response = await Http.GetAsync(url);
            status = response.StatusCode.ToString();
            response.EnsureSuccessStatusCode();
        }
        catch(Exception e)
        {
            requestSuccess = false;
            status = "ERROR: " + e.ToString();
        }
    }
}